<div>
    <sly-field title="Reference Tag Name"
             description="All objects with this tag are considered as reference items. Other objects are skipped">
        <sly-icon slot="icon" :options="{ color: '#ceadff', bgColor: '#f6ebff', rounded: false }">
            <i class="zmdi zmdi-label"></i>
        </sly-icon>
        <sly-select-tag :project-id="context.projectId" :tags.sync="state.tag" :options="{showLabel: false}"></sly-select-tag>
    </sly-field>
  <sly-field title="Image Field"
             description="All images with reference objects should have this field in metadata. Field value is used to
             group reference items. For example: in retail it can be a UPC Code">
        <sly-icon slot="icon" :options="{ color: '#ea9d22', bgColor: '#fcefd9', rounded: false }">
            <i class="zmdi zmdi-key"></i>
        </sly-icon>
        <el-input placeholder="Input key image field" v-model="state.keyImageField"></el-input>
        <div v-if="!state.keyImageField" class="mt5 mb5">
            <i class="zmdi zmdi-alert-triangle" style="color: #ed4242"></i>
            <span style="color: #ed4242">Input field cannot be empty</span>
        </div>
    </sly-field>
    <sly-field title="Path to JSON file with reference items"
             description="File is saved to team files:
                    /reference_items/<project-id>_<project-name>.json. If file already exists, app prints error and stops">
        <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
            <i class="zmdi zmdi-file-text"></i>
        </sly-icon>
    </sly-field>
</div>
